*{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans';
    box-sizing: border-box;
   
}
body{
    overflow-x: hidden;
}
.hero-Section{
    width: 100%;
    height: 115vh;
    background-color: #f8fafa;
    border-bottom: 2px solid black;
}
nav{
    /* margin-top: 30px; */
    padding: 25px;


}
.hero-Section nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 20px;
}
nav img:nth-child(1){
    width: 150px;
    margin-left: 20px;
    margin-bottom: 5px;
}
nav img:nth-child(3){
    width: 40px;
    margin-left: 170px;

}
nav ul{
    display: flex;
    gap: 30px;
    margin-right: 200px;
}
nav li{
    list-style: none;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 5px;
}
nav button{
    margin-right: 50px;
    width: 100px;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
    text-transform: capitalize;
}
nav button:hover{
    background-color: black;
    color: white;
    font-weight: bold;
}
.navborder{
    width: 100%;
    background-color: black;
    margin-top: 20px    ;
    height: 40px;

}
.hero .left{
    margin-left: 20px;
}
.hero .left .p1{
    margin-top: 30px;
    font-size: 20px;
    margin-left: 20px;
    color: green;
}
.hero .left h1{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 70px;
}
.hero .left #p2{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 20px;
}
.navfoorter img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: -15px;
    position: relative;
}
.navfoorter{
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 20px;
    margin-left: 20px;
    gap: 50px
    ;
}
.navfoorter  button {
    border-radius: 25px;
    height: 40px;
    width: 130px;
    text-transform: capitalize;
    color: black;
    background-color: greenyellow;
    margin-top: 5px;
}
.plus {
    font-size: 32px;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    border: 1px solid #ddd;
    position: relative;
    z-index: 0;
  }
  .navfoorter h5{
    /* margin-top: 5px; */
    font-size: 20px ;
  }
.hero{
    display: flex;
}
.hero  .right img{
    height: 100vh;

}
.secondpage{
    width: 100%;
    height: 130vh;
    margin-left: 30px;
    /* margin-right: 20px; */
}
.hero h6{
    margin-left: 20px;
    margin-top: 30px;
    font-size: 20px ;
}
.navborder{
    position: relative;
    overflow: hidden;
    color: white;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}
.second-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
.second-header h5{
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;


}
.second-logos img{
    margin: 10px;
    width: 150px;
    margin-right: 5px;
}
.second-Content1{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.second-Content1  .content-01{
    width: 425px;
    height: 330px;
    border: 2px solid black;
    margin-left: 20px;
    border-radius: 25px;
    background-color: #f4f4f5;
    border: none;
}
.second-Content1 .content-02{
    width: 850px;
    margin-right: 10px;
    height: 330px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #f4f4f5;
    border: none;
}
.second-Content1 .content-01 h3{
    margin-top: 50px;
    font-weight: bold;
    margin-left: 30px;
    text-transform: capitalize;
    font-size: 20px;

}
.second-Content1 .content-01 p{
    margin-top: 15px;
    margin-left: 30px;

}
.second-Content1 .content-02 h3{
    margin-top: 50px;
    font-weight: bold;
    margin-left: 30px;
    text-transform: capitalize;
    font-size: 20px;

}
.second-Content1 .content-01 img{
    width: 300px;
    margin-left: 60px;
    margin-top: 40px;
}
.second-Content1 .content-02 p{
    margin-top: 15px;
    margin-left: 30px;

}
.second-Content1 .content-02 img{
    width: 730px;
    margin-left: 60px;
    margin-top: 40px;
}
.second-content2{
    display: flex;
}
.second-content2 .content1{
    margin-top: 20px;
    margin-left: 20px;
    width: 850px;
    margin-right: 10px;
    height: 330px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #f4f4f5;
    border: none;


}
.second-content2 .content1 h3{
    margin-top: 50px;
    font-weight: bold;
    margin-left: 30px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;


}
.second-content2 .content1 p{
    margin-top: 15px;
    margin-left: 30px;

}
.second-content2 .content1 img{
    width: 730px;
    margin-left: 60px;
    margin-top: 40px;

}
.second-content2 .content2{
    width: 425px;
    margin-top: 20px;
    height: 330px;
    border: 2px solid black;
    margin-left: 35px;
    border-radius: 25px;
    background-color: #f4f4f5;
    border: none;

}
.second-content2 .content2 h3{
    margin-top: 50px;
    font-weight: bold;
    margin-left: 30px;
    text-transform: capitalize;
    font-size: 20px;

}
.second-content2 .content2 p{
    margin-top: 15px;
    margin-left: 30px;


}
.second-content2 .content2 img{
    width: 300px;
    margin-left: 60px;
    margin-top: 40px;

}
.thirdPage{
    width: 100%;
    height: 100vh;
    display: flex;
    margin-left: 30px;
    /* justify-content: space-between; */
}
.thirdPage img{
    height: 90vh;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 25px;

}
.third-right{
    margin-left: -35px;
}

.third-right p:nth-child(1){
    /* margin-right: 45%; */
    margin-left: 100px;
    margin-top: 90px;
    font-weight: bold;
}
.third-right h1:nth-child(2){
    margin-left: 100px;
    font-size: 55px;
    margin-top: 20px;

}
.third-right h4:nth-child(3){
    margin-left: 100px;
    margin-top: 20px;
    font-size: 22px;

}
.third-right p:nth-child(4){
    margin-left: 100px;
    margin-top: 20px;
    font-size: 17px;

}
.third-right button:nth-child(5){
    width: 140px;
    border-radius: 25px;
    background-color: #bef264;
    margin-top: 50px;
    color: black;
    font-family: 'Plus Jakarta Sans';
    height: 40px;
    margin-left: 100px;
    border: none;
    cursor: pointer;
    
}
.fourthPage{
    width: 100%;
    height: 110vh;
    display: flex;
    /* justify-content: ; */
    margin-left: 30px;
}
 
.fourth-left p:nth-child(1){
    /* margin-right: 45%; */
    margin-left: 20px;
    margin-top: 90px;
    font-weight: bold;
}
.fourth-left  h1:nth-child(2){
    margin-left: 20px;
    font-size: 55px;
    margin-top: 20px;

}
.fourth-left h4:nth-child(3){
    margin-left: 20px;
    margin-top: 20px;
    font-size: 22px;

}
.fourth-left p:nth-child(4){
    margin-left: 20px;
    margin-top: 20px;
    font-size: 17px;

}

.fourth-left button:nth-child(5){
    width: 140px;
    border-radius: 25px;
    background-color: #bef264;
    margin-top: 50px;
    color: black;
    height: 40px;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    
}
.fourthPage img{
    margin-left: 400px;
    position: relative;
    left: 40px;
    height: 90vh;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 25px;

}
.fifthPage{
    width: 100%;
    height: 160vh;
    border-bottom: 0.5px solid gray;
}
.fifthPage #pehla{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}
.fifthPage h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}
.fifthPage h6{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Didot';
}
.fifthPage .plans{
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
    /* gap: ; */
}
.fifthPage button{
    border-radius: 10px;
    font-size: 20px;
    
}

.fifthPage .basic{
    height: 80vh;
    width: 370px;
    border: 2px solid black;
    border-radius: 25px;
    border: none;

}
.fifthPage .premium{
    height: 80vh;
    width: 370px;
    border: 2px solid black;
    border: none;
    
    
}
.fifthPage .ultimate{
    height: 80vh;
    width: 370px;
    border: 2px solid black;
    border-radius: 25px;
    border: none;
}

.fifthPage .basic h3:nth-child(1){
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
    
}
.fifthPage .basic .dolar{
    display: flex;
    /* background-color: black; */

}
.fifthPage .basic .dolar h1{
    margin-left: 20px;
}
.fifthPage .basic .dolar p:nth-child(2){
    /* margin-top: 200px; */
    position: relative;
    top: 29px;
    font-size: 20px;
}
.fifthPage .basic  p:nth-child(4){
    margin-left: 20px;
    margin-top: 20px;
}
.fifthPage .basic p:nth-child(2){
    margin-top: 10px;
    margin-left: 20px;
    /* font-size: 25px; */
    
}
.fifthPage .basic h1:nth-child(3){
    margin-right: 260px;
    font-size: 17px;
}
 
.fifthPage .basic #ticks{
    list-style: none;
    margin-top: 50px;
    margin-left: 20px;
    
}
.fifthPage .basic li{
    margin-top: 10px;
}
.fifthPage .basic li::before{
    content: '✔'; /* Unicode for checkmark */
    color: green;
    
}
.fifthPage .basic button{
    width: 100%;
    height: 50px;
    text-transform: capitalize;
    margin-top: 40px;
    color: white;
    background-color: black;
}
.fifthPage .premium{
    background-color: #fafafa;
    border-radius: 25px;
}
.fifthPage .premium .dolar{
    display: flex;
    /* background-color: black; */

}

.fifthPage .premium h3:nth-child(1){
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
    
}
.fifthPage .premium.dolar{
    display: flex;
    /* background-color: black; */

}
.fifthPage .premium .dolar h1{
    margin-left: 20px;
}
.fifthPage .premium .dolar p:nth-child(2){
    /* margin-top: 200px; */
    position: relative;
    top: 29px;
    font-size: 20px;
}
.fifthPage .premium  p:nth-child(4){
    margin-left: 20px;
    margin-top: 20px;
}
.fifthPage .premium p:nth-child(2){
    margin-top: 10px;
    margin-left: 20px;
    /* font-size: 25px; */
    
}
.fifthPage  .premium  h1:nth-child(3){
    margin-right: 260px;
    font-size: 17px;
}
 
.fifthPage .premium #ticks{
    list-style: none;
    margin-top: 50px;
    margin-left: 20px;
    
}
.fifthPage .premium li{
    margin-top: 10px;
}
.fifthPage .premium li::before{
    content: '✔'; /* Unicode for checkmark */
    color: green;
    
}
.fifthPage .premium button{
    width: 100%;
    height: 50px;
    text-transform: capitalize;
    margin-top: 40px;
    color: black;
    background-color: #bef264;
    border: none;
}
.fifthPage .premium{
    background-color: #fafafa;
    border-radius: 25px;
}
.fifthPage .ultimate .dolar{
    display: flex;
    /* background-color: black; */

}

.fifthPage .ultimate h3:nth-child(1){
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
    
}
.fifthPage .ultimate.dolar{
    display: flex;
    /* background-color: black; */

}
.fifthPage  .ultimate .dolar h1{
    margin-left: 20px;
}
.fifthPage  .ultimate .dolar p:nth-child(2){
    /* margin-top: 200px; */
    position: relative;
    top: 29px;
    font-size: 20px;
}
.fifthPage  .ultimate p:nth-child(4){
    margin-left: 20px;
    margin-top: 20px;
}
.fifthPage  .ultimate p:nth-child(2){
    margin-top: 10px;
    margin-left: 20px;
    /* font-size: 25px; */
    
}
.fifthPage  .ultimate  h1:nth-child(3){
    margin-right: 260px;
    font-size: 17px;
}
 
.fifthPage .ultimate #ticks{
    list-style: none;
    margin-top: 50px;
    margin-left: 20px;
    
}
.fifthPage .ultimate li{
    margin-top: 10px;
}
.fifthPage  .ultimate li::before{
    content: '✔'; /* Unicode for checkmark */
    color: green;
    
}
.fifthPage  .ultimate button{
    width: 100%;
    height: 50px;
    text-transform: capitalize;
    margin-top: 40px;
    color: white;
    background-color: black;
}
.sixthPage{
    width: 100%;
    height: 100vh;
}
.sixthPage h6:nth-child(1){
    text-align: center;
    margin-top: 150px;
    font-weight: bold;
    font-size: 20px;
}
.sixthPage h4:nth-child(2){
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 50px;
}
.sixthPage p:nth-child(3){
    text-align: center;
    margin-top: 10px;
    /* font-weight: bold; */
    font-size: 18px;
}
.card-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around; /* Space between cards */
    flex-wrap: wrap; /* Wrap cards on smaller screens */
    padding: 20px; /* Padding around the container */
}

.card {
    background: white; /* Card background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Light shadow */
    overflow: hidden; /* Round edges */
     /* Card width */
    margin: 10px; /* Margin around cards */
    transition: transform 0.2s; /* Transition for hover effect */
    width: 400px; /* Increased card width */
    height: 500px; /* Set a height for the cards *
}

.card:hover {
    transform: scale(1.05); /* Slightly enlarge card on hover */
}

.card img {
    width: 100%; /* Full width image */
    height: auto; /* Maintain aspect ratio */
}

.card-content {
    padding: 15px; /* Padding inside card */
}

.date {
    display: block; /* Block element for date */
    font-weight: bold; /* Bold date */
    /* color: white; Dark red color */
    /* background-color: black; */
    width: fit-content;
    margin-bottom: 10px; /* Space below date */
}

.card-content h3 {
    font-size: 30px; /* Title font size */
    margin: 0; /* No margin */
}

.card-content p {
    color: #555; /* Dark gray for author name */
    margin: 5px 0; /* Space above and below */
}
.seventhPage{
    width: 100%;
    height: 90vh;
}
.seventhPage .seven{
    height: 80vh;
    width: 100%;
    background-color: #6366f1;
    margin-top: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.seventhPage .seven h5:nth-child(1){
    /* color: white; */
    text-align: center;
    font-size: 18px;
    position: relative;
    top: 70px;
    /* margin-top: 200px; */
}
.seventhPage .seven h1:nth-child(2){
    /* color: white; */
    text-align: center;
    margin-top: 80px;
    font-size: 45px;
}
.seventhPage .seven p:nth-child(3){
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.seventhPage .seven button:nth-child(4){
    width: 160px;
    padding: 15px;
    margin-left: 45%;
    margin-top: 50px;
    border-radius: 25px;
    text-transform: capitalize;
    color: black;
    background-color: #bef264;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.footerPage{
    width: 100%;
    height: 50vh;

}
.footerPage .footer{
    display: flex;
    justify-content: space-around;
}
.footerPage .footer img{
    width: 100px;
}
.footerPage .footer li{
    list-style: none;
    margin-top: 10px;
}
.footerPage .footer .top{
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
}
.footerPage p{
    position: relative;
    top: 120px;
    margin-left: 55px;

}




